.App {
  background: #e5e5e5;
  color: #25282b;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 5vmin;
}

.App-header {
  background-image: url(./bg.png);
  background-size: cover;
  min-height: 40vh;
  display: grid;
  grid-column: span 2;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.intro {
  width: 90%;
  margin: 40px auto;
  display: flex;
  display: grid;
  grid-column: span 2;
  align-items: left;
  justify-content: center;
}

#intro {
  width: 300px;
  margin-right: 20px;
  margin: 32px 0;
}

a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, .value {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

button {
  border: none;
  font-weight: bold;
  color: white;
  background: #ff5e84;
  cursor: pointer;
  outline: none;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  margin-top: 32px;
  justify-self: end;
  transition: 400ms;
  box-shadow: 0 8px 16px #ff5e8432;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

button:hover {
  background-color: white;
  color: #ff5e84;
  text-decoration: none;
}

.result {
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
  background-color: #fff;
  box-shadow: 0 4px 16px -8px black;
  padding: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.result h3 {
  margin: 0;
}

.result p {
  margin: 8px 0;
  color: #777;
}

p, .value {
  margin: 16px;
}

form {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 0 auto;
  gap: 10px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
}

input, select {
  max-width: 30%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

select {
  cursor: pointer;
}